# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# --- Virtual Environments  ---
venv/
.venv/
env/
bin/
include/
lib/
share/

# --- Django ---

db.sqlite3

media/

staticfiles/

# --- Environment Variables ---
.env

# --- IDEs / Editors ---
.vscode/
.idea/
*.swp
*.swo

# --- OS Specific ---

Thumbs.db
db
.DS_Store

# --- Docker ---
.docker/